body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* form{
  margin: 20px;
}
.input{
  display: flex;
  width:300px;
  justify-content:space-between;
  width: 280px;
  margin: 5px;
}
input{
  width: 270px;
} */
.edit12{
  display: flex;
  border: 1px solid;
  margin: 5px;
  justify-content:space-between;
}